body {
  background: linear-gradient(to right, #e6e6e6, #f2f2f2);
}
.nav .nav-item .nav-link{
    color: #868282;
    transition: color 0.4s ease 0s;
} 

.nav .nav-item .nav-link:hover{
    color: black;
}
.img-left{
    max-width:100%;
    width:330px; 
    height:430px;
}
.img-left .img-left {
    float: left;
}
.img-left .img-right {
    float: right;
}
.block {
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
#page-content {
    flex: 1 0 auto;
  }
#sticky-footer {
    flex-shrink: none;
    background: linear-gradient(to right, #e6e6e6, #f2f2f2);    
}
#footer-text{
    color: black;
}

.span4 h4{
    font-size: 80.5%;
}

.span4 p{
    font-size: 80.5%;
}



